/* style.scss*/

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.ba-banner {
    height: 100vh;
}

.ba-hero {
    height: calc(100vh - 85px);
    background: {
        image: url(../images/hearo.jpeg);
        size: cover;
        color:#000;
    }
    padding: 9vh 0 7.5vh;
    color: #ffffff;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: right;
    }

    &__bottom {
        text-align: center;
    }

    &__scroll {
        display: inline-block;
        height: 67px;
        width: 45px;
        background: {
            image: url(../images/mouse-icon.png);
            size: contain;
            repeat: no-repeat;
        }
    }

    &__title {
        /* Style for "Welcome to" */
    color: #ededed;
    font-size: 48px;
    font-weight: 800;
    /* Text style for "Welcome to" */
    letter-spacing: 6px;
    }

    &__text {
        /* Style for "Your free" */
    color: #ededed;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 3px;
    }
}

.ba-logo {
    /* Style for "wheels" */
    color: #ededed;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    /* Text style for "w, heels" */
    letter-spacing: 3.75px;
}
.ba-menu-btn {
    border: none;
    outline: none;
    background: transparent;
    /* Style for "menu" */
    color: #ededed;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    /* Text style for "m, enu" */
    letter-spacing: 3.58px;

    &__lines {
        display: inline-block;
        width: 19px;
        height: 18px;
        background-color: transparent;
        border: none;
        padding: 0;
        position: relative;
        z-index: 10;
    }

    &__line {
        display: block;
        height: 2px;
        background-color: #ededed;;
    }

    &__line:nth-child(2) {
        margin: 6px 0;
    }

    &__line:nth-child(3) {
        margin: 6px 0;
    }

    
}

.ba-header{
    padding: 2vh 0;
    box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.05);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.ba-logo_black {
    color: #1c1c1c;
}

.ba-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &__item + &__item {
        margin-left: 50px;
    }

    &__link {
        text-decoration: none;
        color: #3b3b3b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.25px;
    }
}
//======= ba-about =======//
.ba-about {
    padding-top: 52px;
    padding-bottom: 66px;
}

.ba-section {
    text-align: center;

    &__title {
        margin: 0;
        /* Style for "about us" */
        color: #1d1d1d;
        font-size: 30px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 3.75px;
    }
    
    &__title_white {
        color: white;
    }

    &__desc {
        margin: 1rem auto;
        color: #3b3b3b;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2.25px;
    }

    &__desc_white {
        color: white;
    }
}

.ba-text p {
    text-align: justify;
    margin: 0;
    margin-top: 1.25rem;
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.75px;
}
//======= ba-statistic =======//
.ba-statistic {
    background: {
        image: url(../images/about-bg.jpeg);
        size: cover;
        color:#000;
    }
    padding-top: 94px;
    padding-bottom: 104px;
}

.ba-statistic-list {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}

.ba-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;

    /*&__item + &__item {
        margin-left: 200px;
    }*/

    &__head {
        margin: 0;
        color: #ededed;
        font-size: 72px;
        font-weight: 600;
        letter-spacing: 9px;
    }

    &__text {
        margin: 0;
        color: #ededed;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
    }
}


//======= ba-product =======//
.ba-products {
    padding-top: 51px;
    padding-bottom: 76px;
}

.ba-product {
    text-align: center;

    &__thumb {
        padding: 0 1em;
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        margin: 0;
        color: #3b3b3b;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 3px;  
    }

    &__price {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 3.75px;
    }

    &__link {
        display: block;
        margin-top: 0.8rem;
        color: #3b3b3b;
        font-size: 18px;
        font-weight: 600;
        text-decoration: underline;
        letter-spacing: 2.25px;
    }
}

//======= ba-team =======//

